*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'News Cycle',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	margin: 0;
	padding: 0;
	color: #393939;
	text-align: left;
	
	font-size: 16px;
}

html { 
	background-color: #e4e4e4;
	background: url(../images/bar.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
	font-family: 'Lobster Two',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 40px;
	color: #ffffff;
	
	background-color: #1477bb;
	
	width: 680px;
	padding-left: 20px;
	height: 60px;
}

#foodieContent{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	min-height: 100%;
	background-color: #ffffff;

}

#foodieContent h1{
	font-family: 'News Cycle',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 20px;
	
	margin: 20px;
}

#foodieContent h2{
	font-family: 'Lobster Two',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 20px;
	
	margin: 20px 20px 10px 20px;
}

#foodieContent p{
	font-family: 'News Cycle',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	margin: 5px 20px 10px 20px;
}

