*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'News Cycle',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	margin: 0;
	padding: 0;
	color: #393939;
	text-align: left;
	
	font-size: 16px;
}

html { 
	background-color: #e4e4e4;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
	font-family: 'Lobster Two',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 40px;
	color: #ffffff;
	
	background-color: #1477bb;
	
	width: 680px;
	padding-left: 20px;
	height: 60px;
}

#userContent{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background-color: #ffffff;
	
	min-height: 100%;

}

#mainNotes{
	font-size: 14px;
	padding-left: 20px;
	padding-top: 10px;
}

#mainNotes a{
	text-decoration: none;
	color: #1477bb;
}	

#mainNotes b{
	font-size: 15px;
	color: #C81010;
}

#userInfo{

}

#userName{
	font-family: 'Lobster Two',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 30px;
	text-decoration: underline;
	
	padding: 10px 0 0 20px;
}

#userFoodieYes{
	font-family: 'News Cycle',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 20px;
	color: #C81010;
	
	padding: 0 0 0 20px;
}

#userFoodieNo{
	font-family: 'News Cycle',"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 20px;
	color: #AfAfAf;
	
	padding: 0 0 0 20px;
}

#nomination{
	width: 500px;
	padding: 0 0 0 20px;
}

#nomination a{
	text-decoration: none;
	color: #1477bb;
}

#map_canvas{
	height: 300px;
	width: 660px;
	margin: 20px auto;
}

.restaurantList{
	margin: 10px 0px 10px 20px;
	padding-right: 10px;
	float: left;
	width: 320px;
	border-right: thin solid;
}

.restaurantNameRec{
	margin-bottom: 5px;
	margin-top: 5px;
	border-bottom: thin dotted;
}

.restaurantList a{
	text-decoration: none;
	color: #1477bb;
}

.recTag{
	color: #C81010;
}

.foodieDish{
	font-size: 12px;
	padding-left: 5px;
}

.foodieDrink{
	font-size: 12px;
	padding-left: 5px;
}

.restaurantRecommend{
	overflow: hidden;
	padding-left: 5px;
}

.savedList{
	float: right;
	width: 320px;
	margin: 10px 20px 10px 0px;
}

.savedList a{
	text-decoration: none;
	color: #1477bb;
}

.restaurantNameSaved{
	margin-bottom: 5px;
	margin-top: 5px;
	border-bottom: thin dotted;
}

/*For Foodies, Not for foodies, save for later buttons*/

.restaurantRecommend .forFoodies,
.restaurantRecommend .notForFoodies,
.restaurantRecommend .saveForLater{
	width: 130px;
	height: 28px;
	display: inline-block;
	
	background: url(../images/button-bar.jpg);
}

.restaurantRecommend .forFoodies{
	background-position: 0px 0px;
}

.restaurantRecommend .forFoodies:hover{
	background-position: -131px 0px;
}

.restaurantRecommend .forFoodies:active,
.restaurantRecommend .forFoodiesOn{
	background-position: -262px 0px !important;
}

.restaurantRecommend .notForFoodies{
	background-position: 0px -28px;
}

.restaurantRecommend .notForFoodies:hover{
	background-position: -131px -28px;
}

.restaurantRecommend .notForFoodies:active,
.restaurantRecommend .notForFoodiesOn{
	background-position: -262px -28px;
}

.restaurantRecommend .saveForLater{
	background-position: 0px -56px;
}

.restaurantRecommend .saveForLater:hover{
	background-position: -131px -56px;
}

.restaurantRecommend .saveForLater:active,
.restaurantRecommend .saveForLaterOn{
	background-position: -262px -56px;
}

/*For Foodies, Not for foodies, save for later buttons end*/