<% count = 1 %>
<% @recommended.each do |recommended| %>
<% restaurant = Restaurant.find(recommended.restaurant_id)%>
<% user = User.find(recommended.user_id) %>
<% puts("\n\n\nrecommended\n\n\n") %>
<div class="restaurant"><%= count %>. <%= link_to restaurant.name, restaurant_path(restaurant) %> (<%= restaurant.address %> <%= link_to user.first_name + " " + user.last_name, user_path(user) %> ) </div>
<% puts(restaurant_path(restaurant))%>
<div class="restaurantRecommend">
						<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=243953148956166&amp;xfbml=1"></script><fb:like 		href= <% "http://foodierecs.com" + restaurant_path(restaurant) %>  send="false" layout="button_count" width="50" show_faces="true" font="verdana" style="float:left"></fb:like>
						<a href=""><img src="../images/not-for-foodies.jpg" /></a>
					</div>
					
					<% count += 1 %>
<% end %>