<html>
<head>

<title>Restaurant recommendations from Foodies - foodierecs</title>

<link href="../css/homeStyle.css" rel="stylesheet" type="text/css" />
<!--The google fonts we are using -->
<link href="http://fonts.googleapis.com/css?family=lobster+two" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=news+room" rel="stylesheet" type="text/css" />

<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->

</head>
<!--the onload code is for iOS-->
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500);" >

	<div id="homeContent">
		<div id="homeTitle">
			foodierecs.com
		</div>
		
		<div id="homeSubHeader">
			foodierecs is a community for 
			foodies and those who trust 
			the recommendations of foodies. <br /><br />

			to join, please use your facebook
			account
		</div>
		
		<div id="fbLogin">
			<div id="fb-root"></div>
		    <script src="http://connect.facebook.net/en_US/all.js"></script>
    		<script>
	        	FB.init({ 
    	        appId:'213050112074083', cookie:true, 
        	    status:true, xfbml:true 
	         });
		    </script>
    		<fb:login-button perms="user_checkins,user_likes,email,publish_stream" redirect_uri="http://foodierecs.com/help">
    			Login with Facebook
    		</fb:login-button>
    	</div>
		
	</div>

</body>
</html>