<html>
<head>

<title>Restaurant recommendations from Foodies - foodierecs</title>

<link href="../css/landingStyle.css" rel="stylesheet" type="text/css" />
<!--The google fonts we are using -->
<link href="http://fonts.googleapis.com/css?family=lobster+two" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=news+room" rel="stylesheet" type="text/css" />

<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->

</head>
<!--the onload code is for iOS-->
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500);" >
	<div id="landingContent">
		<div id="landingTitle">
			foodierecs.com
		</div>
		
		<div id="landingSubHeader">
			foodierecs is a community for 
			foodies and those who trust 
			the recommendations of foodies. <br /><br />

			to join, please use your facebook
			account to log in:
		</div>
	</div>

</body>
</html>