<html>
<head>


<title>Restaurant recommendations from Foodies - foodierecs</title>

<%= stylesheet_link_tag "mainStyle", "http://fonts.googleapis.com/css?family=Lobster+Two", 
										"http://fonts.googleapis.com/css?family=News+Room" %>
<%= javascript_include_tag :defaults %>


<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->

</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500);" >
	<!--
	<div class="backgroundImageWrap">
		<img src="../images/bar.jpg" class="backgroundImage" width="1264" height="790">
	</div>
	-->
	<div id="mainContent">
		<div id="header">
			foodierecs
		</div>
		
		<div id="mainNotes">
			foodierecs maintains a small group of foodies to give recommendations, most of whom are nominated and voted upon. <br />
			to learn more about the process, <a href="">click here</a> </br>
			to see everything you have rated, <a href="">click here</a> </br>
		</div>
		
		<div id="mainRecommendations">
			<div class="mainSectionTitle">Recommendations</div>
			<div class="sectionList">
				<% puts("\n\n\n#{@recommended.count}\n\n\n") %>
				<% unless @recommended.empty? %>
					<%= render 'recommended' %>
			<% end %>
			
 
			</div>
		</div>
		
		<div id="mainRatePlaces">
			<div class="mainSectionTitle">Rate some places (to get better recommendations)</div>
			<div class="sectionList">
				<% puts("\n\n\n#{@places_to_rate.count}\n\n\n") %>
				<% unless @places_to_rate.empty? %>
					<%= render 'places_to_rate' %>
			<% end %>
				

			</div>
		</div>
		
		<div id="mainRecent">
			<div class="mainSectionTitle">
				Recently rated
				<div class="mainSectionSubTitle">
					<a href="">Click here</a> to subscribe to a weekly feed
				</div>
			</div>
			<div class="sectionList">
				<% puts("\n\n\n#{@recently_rated.count}\n\n\n") %>
				<% unless @recently_rated.empty? %>
					<%= render 'recently_rated' %>
			<% end %>

			</div>
		</div>
	</div>

</body>
</html>