<html>
<head>


<title>Restaurant recommendations from Foodies - foodierecs</title>

<%= stylesheet_link_tag "mainStyle", "http://fonts.googleapis.com/css?family=Lobster+Two", 
										"http://fonts.googleapis.com/css?family=News+Room",
										"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js", 																										
									  "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
									  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>


<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->

<%if session[ :user_id ].nil? %>
<script>
	window.location = "/"
</script>
<% end %>

<% if session[ :background_pic ].nil? 
	backgroundPic = rand( 6 ) + 1 
	session[ :background_pic ] = backgroundPic
end %>
 
<% session.each do |key, value| %> 
  <%puts "#{key.to_s} #{value.to_s}" %> 
<% end %>
<% request.cookies.each do |key, value| %> 
  <%puts "#{key.to_s} #{value.to_s}" %> 
<% end %>

<script>
	$('#dialog').bind( "dialogclose", function( event, ui ) {
		//TO DO: REMOVE THIS ONCE THE USER GETS LOGGED OUT WHEN LIKE IS HIT BUTTON PROBLEM SOLVED
		//we do this because reloading will ensure they get re-logged in
		//window.location.reload();
	});
</script>

</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500); $('#dialog').dialog({ autoOpen:false, modal:true });
				$('html').css( 'background', 
					'url(../images/background<%=session[ :background_pic ]%>.jpg) no-repeat center center fixed' ); autocompleteInit();" >
	<div id="fb-root"></div>
		<!--facebook connect-->
		<script>
		  window.fbAsyncInit = function() {
	    	FB.init({appId: '213050112074083', status: true, cookie: true,
		             xfbml: true});
		  };
		  (function() {
		    var e = document.createElement('script'); e.async = true;
	    	e.src = document.location.protocol +
		      '//connect.facebook.net/en_US/all.js';
	    	document.getElementById('fb-root').appendChild(e);
		  }());
		</script>
		
	<%if( !session[ :user_id ].nil? )%>

	<div id="dialog" title="Recommendations" style="display:none" >
		<% @opinion = Opinion.new %>
		<%= render :partial => 'opinions/form' %>
	</div>
	<%end%>

	<div id="mainContent">
		
	<%= render 'layouts/header' %> 
			<!--
	<div class="backgroundImageWrap">
		<img src="../images/bar.jpg" class="backgroundImage" width="1264" height="790">
	</div>
	-->
	<!--
		<script>
			FB.Event.subscribe('edge.create', function(response) {
				$.post('restaurants/findid/' + response.split( '/' )[ 4 ], function(data) {
					//basically, we pretend like the user doesn't want to add a to eat/to drink and add the row
					//then, if they do add it, this row will get deleted and replaced by the new one. nice!
					<%if !session[ :user_id ].nil? %>
					$.post( "<%= url_for( :controller => 'opinions', :only_path => false ) %>", 
							{ 'opinion[user_id]': <%= session[ :user_id ] %>, 'opinion[restaurant_id]': data,
								'opinion[foodie]': <%= User.find_by_id(session[:user_id]).foodie %>, 'opinion[like]': 1 }
						);
					<% end %>
				  $('#opinion_restaurant_id').attr( 'value', data );
				});

				$("#dialog").dialog('open');
  			});
		</script>
		
		<!--To capture un-likes 
		<%= render 'layouts/unlike' %>
		-->
		<!--<div id="mainNotes">
			foodierecs maintains a <b>small group of NYC foodies to give recommendations</b>. They are nominated and voted upon<br />
			to learn more about the process, <%= link_to( 'click here', '/becomeafoodie' )%> <br />
			to see everything you have rated, <%= link_to('click here', user_path(session[:user_id]) ) %> <br />
		</div>-->
		<script src="http://connect.facebook.net/en_US/all.js#appId=243953148956166&amp;xfbml=1"></script>
		<div id="mainRecommendations">
			<div class="mainSectionTitle">Recommendations from Foodies</div>
			<div class="sectionList">
				<% puts("\n\n\n#{@recommended.count}\n\n\n") %>
				<% if(session[ :user_id ]) %>
				<% @count = 1 %>
				<% unless @recommended.empty? %>
					<table class="opinions" summary="User opinions">
					<%= render @recommended %>
				</table>
			<% end %>
			<% else %>
			<div id="mainNotes">
				Login and rate places to get recommendations
			</div>
			<% end %>
			<%= link_to( "see all your recommendations on a map...", "/recommendations") %>
			</div>
		</div>
		
		<div id="mainRatePlaces">
			<div class="mainSectionTitle">Rate some places (to get better recommendations)</div>
			<div class="sectionList">
				<% puts("\n\n\n#{@places_to_rate.count}\n\n\n") %>
				<% if( !session[ :user_id ].nil? ) %>
				<% @count = 1 %>
				<% unless @places_to_rate.empty? %>
					<table class="opinions" summary="User opinions">
					<%= render @places_to_rate %>
				</table>
				<%= will_paginate @places_to_rate %>
			<% end %>
			<% else %>
			<div id="mainNotes">
				Login to see places to rate
			</div>
			<% end %>
				

			</div>
		</div>
		
		<div id="mainRecent">
			<div class="mainSectionTitle">
				Recently rated
				<div class="mainSectionSubTitle">
					<a href="">Click here</a> to subscribe to a weekly feed
				</div>
			</div>
			<div class="sectionList">
				<% puts("\n\n\n#{@recently_rated.count}\n\n\n") %>
				<% @count = 1 %>
				<% unless @recently_rated.empty? %>
					<table class="opinions" summary="User opinions">
					<%= render @recently_rated %>
				</table>
				<%= will_paginate @recently_rated %>
				<% end %>=

			</div>
		</div>
	</div>

</body>
</html>