<% puts("\n\n\nrecommended\n\n\n") %>
<div class="restaurant">
	<%= @count %>. <%= link_to restaurant.name, restaurant_path(restaurant) %> 
					(<%= restaurant.street_number + " " + restaurant.vicinity %>
</div>
<% #puts(restaurant_path(restaurant))%>
<div class="restaurantRecommend"> <div>
	<div id="fb-root"></div>
	<fb:like href="<%= "http://foodierecs.com"+restaurant_path(restaurant) %>"  send="false" 
			layout="button_count" width="50" show_faces="true" font="verdana" style="float:left"></fb:like>
	<a href=""><img src="../images/not-for-foodies.jpg"></a>
	</div>
</div>
<% @count += 1 %>	